/* Default styles for mobile */
.brand-logo {
    text-align: center;
  }
  .responsive_image{
    max-width: 100%;
    height: auto;
  }
  
  /* Media query for larger screens */
  @media (min-width: 768px) {
    .brand-logo {
      text-align: left;
    }
  
    /* Adjust other styles as needed */
  }